# Mac stuff
.DS_Store

# VS Code settings
.vscode/

# Build directories
**/build/

# Really big datasets
*.pcd

# Assignment 3 data
Part_1/**/data/*
Part_1/**/install
Part_1/**/log
Part_1/Lab_Examples/**

**/__pycache__/

Part_2/.ipynb_checkpoints/
Part_2/img/machine_hall/
Part_2/img/.metadata*

# uv virtual environment
.venv/