# Mac stuff
.DS_Store

# VS Code settings
.vscode/

# Build directories
**/build/

# Really big datasets
*.pcd

# Assignment 3 data
Part_1/assignment_3/data/*
Part_1/assignment_3/**/install
Part_1/assignment_3/**/log
Part_1/Lab_Examples/**

**/__pycache__/